html {
    /* overflow: hidden; */
}

html.noscroll {
    overflow: hidden;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    overflow: visible;
    height: 100%;
}

body:after{
    content: '';
    display: block;
    height: 100%;
    width: 100vw;
    top: 200px;
    left: 0;
    /*background: url('img/cercle-pattern.svg') repeat-y;*/
    background-size: cover;
    min-height: 100%;
}

/* UTILS */

.floatr {
    float: right;
}

/* LINKS */

a, .link-read-more {
    color: #0645F9;
    text-decoration: none;
}

a:hover, .link-read-more:hover {
    color: #0645F9;
    border-bottom: 1px solid #0645F9;
}

.link-read-more {
    font-size: 1.2rem;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
}

.block-page.edito .link-read-more{
    right: 0;
}

.block-page.edito .link-read-more:before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 3px;
    background: #0645F9;
    position: absolute;
    transform: translateX(calc( -50% - 8px ));
    bottom: 0;
    top: calc( -100% + 4px );
}

.block-page.edito .link-read-more:after {
    content: "";
    display: block;
    position: absolute;
    width: 3px;
    height: 60px;
    background: #0645F9;
    transform: translateY(calc(-100% - 2px));
    left: -10px;
}

.lien1 {
    background: #F7C452;
    color: #fff;
    padding: 1rem;
}

.lien1:hover, .lien1:focus,
.lien2:hover, .lien2:focus{
    border: none;
    color: white;
}

.lien2 {
    background: #001E6F;
    color: #fff;
    padding: 1rem;
}

.lien3, .lien3:hover {
    border-bottom : 2px solid #F7C452;
    color: #001E6F;
}

.lien4 {
    border-bottom: 2px solid #F7C452;
    color: #001E60;
    padding-bottom: 4px;
    position: relative;
}

.lien4:hover {
    border-bottom: 2px solid #F7C452;
    color: #001E60;
}

.lien4:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -28px;
    display: inline-block;
    vertical-align: middle;
    width: 21px;
    height: 21px;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pjxzdmcgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDpub25lO3N0cm9rZTojMDAwO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2Utd2lkdGg6MnB4O308L3N0eWxlPjwvZGVmcz48dGl0bGUvPjxnIGRhdGEtbmFtZT0iMTItRG93bmxvYWQiIGlkPSJfMTItRG93bmxvYWQiPjxwb2x5bGluZSBjbGFzcz0iY2xzLTEiIHBvaW50cz0iMSAxOSAxIDMxIDMxIDMxIDMxIDE5Ii8+PHBvbHlsaW5lIGNsYXNzPSJjbHMtMSIgcG9pbnRzPSIyNCAxNiAxNiAyNCA4IDE2Ii8+PGxpbmUgY2xhc3M9ImNscy0xIiB4MT0iMTYiIHgyPSIxNiIgeTE9IjI0Ii8+PC9nPjwvc3ZnPg==');
    background-repeat: no-repeat;
}

/* COLORS */

.landing-page-quicklinks .ql-list li:nth-child(4) > a,
.landing-page-quicklinks .ql-list li:nth-child(4) > a:hover,
.txt-pink:hover {
    color: #DB57EA;
}

.landing-page-quicklinks .ql-list li:nth-child(4) > a:hover,
a.txt-pink:hover {
    border-bottom: 1px solid #DB57EA;
}

.landing-page-quicklinks .ql-list li:nth-child(5) > a,
.landing-page-quicklinks .ql-list li:nth-child(5) > a:hover,
.txt-blue:hover{
    color: #0645F9;
}

.landing-page-quicklinks .ql-list li:nth-child(5) > .btn-primary:hover,
a.txt-blue:hover  {
    border-bottom: 1px solid #0645F9;
}

.landing-page-quicklinks .ql-list li:nth-child(6) > a,
.landing-page-quicklinks .ql-list li:nth-child(6) > a:hover,
.txt-lightblue:hover{
    color: #55C2E4;
}

.landing-page-quicklinks .ql-list li:nth-child(6) > a:hover,
a.txt-lightblue:hover {
    border-bottom: 1px solid #55C2E4;
}


/* LOGO */

.site-banner .logo {
    position: relative;
    display: block;
    text-align: center;
}

.site-banner .logo img {
    height: 50px;
}

/* BUTTONS */

.btn-primary {
    color: #0645F9;
    background: none;
}

.edito-item-btn {
    position: relative;
    margin-left: 40px;
    top: 40px;
    float: right;
}

/* HEADINGS */

h2, h2.main-title,
h2.la-main-title,
.main-title-with-link > .main-title,
.faq-main-title {
    font-size: 2.8rem !important;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600;
    color: #001E60 !important;
    text-transform: none !important;
    margin-bottom: 0;
    line-height: 3.2rem;
}

.main-title-with-link{
    border:0;
}

h2, .h2-like {
    border-bottom: 0;
}

h2.la-main-title {
    margin-left: 0 !important;
}

h3 {
    margin-top: 0 !important;
    font-size: 2.5rem !important;
}

h4:before {
    content: '';
    display: inline-block;
    width: 25px;
    margin-right: 15px;
    height: 4px;
    background: #F7C452;
}

h3, h4 {
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #001E60;
    text-transform: none;
    margin-top: 0 !important;
}

h5, h5.like {
    color: #001E60;
}

.hl-title {
    font-size: 1.7rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding: .5rem 2rem;
    width: 100vw;
    clear: both;
    display: block;
}

.hl-title--lightblue {
    clear: both;
    display: inline-block;
    background: #56c1e5;
}

.hl-title--blue {
    clear: both;
    display: inline-block;
    background: #001E60;
}

.small-title {
    clear: both;
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    padding-top: 2rem;
}

/* GLOBAL */

.wrapper {
    padding: 0;
    padding-top: 85px;
}

/* GRID */

.grid-1 {
    margin-left: 0;
}

.grid-1 > * {
    width: 100%;
    margin-left: 0;
}

.grid-1 > div {
    margin-left: 0;
}

/* PARAGRAPH */



/* HEADER */

.header-quicklinks {
    text-align: right;
    display: block;
    margin-right: 0;
    text-align: center;
    float: right;

}

.site-banner {
    color: #FFF;
    background: rgba( 6, 69, 249, .9);
    width: 100%;
    z-index: 600;
    position: fixed;
}

.site-banner:after {
    content: "";
    display: table;
    clear: both;
    border-collapse: collapse;
}

.site-banner .inside {
    max-width: none;
}

.site-banner.is-stuck {
    height: 50px;
    overflow: hidden;
    background: rgba(6, 69, 249, .9);
}

.site-banner.is-stuck .logo,
.site-banner .logo {
}

.site-banner .btn-primary {
    background: none;
}
.site-banner .btn-primary .txt-btn {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.site-banner .btn-primary {
    border-radius: 0;
    border: 1px solid white;
    color: white;
    text-transform: none;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    opacity: .7;
    transition: opacity .2s ease-out;
    display: inline-block;
    font-size: 1.2rem;
    padding: 9px 6px;
}

.site-banner .btn-primary:hover {
    box-shadow: none;
    color: white;
    opacity: 1;
}

.site-banner .inside,
.is-stuck.site-banner .inside{
    padding: 0;
    /*top: 50%;
    transform: translateY(-50%);*/
}

.is-stuck .sb-menu-btn {
    margin-top: 0;
    padding: 0;
    vertical-align: middle;
}

/* HEADER DATE */

.event-date {
    font-family: 'Poppins', sans-serif;
    height: 36px;
    clear: both;
    display: inline-block;
    vertical-align: middle;
    text-align: center;

}

.event-date > div {
    float: left;
    padding: 0 5px;
    height: 100%;
}

.event-date__day {
    background: #d859e4;
}

.event-date__month {
    background: #56c1e5;
}

.event-date__year {
    background: #f6c54f;
}

.event-date__place {
    background: rgba(0,0,0,.3);

}

.event-date span {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}

/* MENU */

.sb-menu-trigger {
    right: 0;
    left: inherit;
}

.sb-menu-btn {
    position: inherit;
    top: inherit;
    display: inline-block;
    vertical-align: middle;
}

.sb-menu-btn-text {
    visibility: hidden;
}
[class*="mn-menu-lvl"] {
    left: inherit;
    right: 0;
    background: white;
    text-align: right;
    padding-top: inherit;
}

.main-navigation {
    left: inherit;
    right: 0;
    width: 100vw;
    height: calc(100vh - 50px);
    background: white;
    top: 50px;
    overflow-y: auto;

}

.main-navigation .mn-menu.mn-menu-lvl1 {
    overflow-y: auto;
}

.is-stuck.site-banner .main-navigation {
    top: 50px;
}

.mn-menu {
    padding: 0;
}

.mn-menu-line {
    padding-top: 0;
}

.mn-menu-submenu .mn-link.is-active {
    background: #0645F9;
    color: #fff;
}
.mn-menu-submenu .mn-link-text:before {
    display: none;
}

.mn-menu-lvl2 {
    left: inherit;
    right: inherit;
    top: inherit;
    bottom: inherit;
    transform: none;
    position: inherit;
    width: auto;
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;

}

.mn-item-has-submenu::after {
    display: none;
}


.mn-item-lvl-1 {
    background-color: white;
    border-bottom: none;
}

.mn-item-lvl-1.is-open .mn-menu-lvl2 {
    transform: none;
    display: block;
    max-height: 200px;
}

.mn-item-lvl-1 > .mn-link {
    color: #383838;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    transition: font-size .2s ease-out;
    text-transform: none;
    position: relative;
    padding: 10px 32px;
}
/*
.mn-item-lvl-1 a:after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 2px;
    width: 35px;
    background: #B2BBCF;
    top: 50%;
    margin-top: -1px;
    margin-left: 20px;
}
*/
.mn-item-lvl-1.is-open > a, .mn-item-lvl-1 > .mn-link:focus, .mn-item-lvl-1 > .mn-link:hover, .mn-item-lvl-1 > .mn-link:active, .mn-item-lvl-1 > .mn-link.is-active {
    background: none;
    color: #0645F9;
    font-size: 2.5rem;
    border: none;
}

.mn-item-lvl-1.is-open > a:after, .mn-item-lvl-1 > .mn-link:focus:after, .mn-item-lvl-1 > .mn-link:hover:after, .mn-item-lvl-1 > .mn-link:active:after, .mn-item-lvl-1 > .mn-link.is-active:after {
    background: #0645F9;
}

.mn-link:focus, .mn-link:hover, .mn-link:active, .mn-link.is-active {
    background: #0645F9;
}

.mn-menu-submenu .mn-link {
    background: none;
    color: #0645F9;
    font-size: 1.6rem;
    border: none;
    text-transform: none;
}

.mn-menu-submenu .mn-link:hover {
    color: #0645F9;
    background: none;
}

.mn-menu-submenu .mn-link:hover > span {
    border-bottom: 1px solid #0645F9;
}

.mn-link {
    padding: .9rem 1.5rem;
}

.mn-menu-item.is-open > .mn-link {
    background: none;
}
/*
.mn-menu-toclose {
    left: -500px;
    color: #fff;
    width: 60px;
    height: 60px;
    margin-left: 0;
    background: #0645F9;
    right: 0;
    top: 0;
    left: inherit;
}*/

.mn-item-lvl-1.is-open > .mn-link{
    padding-bottom: 0;
}


/* HERO */

.zone-hero {
    background: #0745fa url('img/hero-bg.jpg') no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    /*margin-top: -90px;*/
    height: calc( 100vh - 85px);
}

.zone-hero__content {
    color: white;
    position: relative;

}

.zone-hero__logo {
    padding: 1.5rem 0;
}

.zone-hero__logo img {
    height: 40vh;
}

.zone-hero__subtitle {
    margin-top: 1.2rem;
    padding: 0 2rem;
}

.zone-hero em {
    color: #f6c54f;
    font-weight: 500;
}



/* QUICK LINKS */

.landing-page-quicklinks {
    text-align: center;
    border-bottom: 1px solid #EBE6E6;
    padding-bottom: 2rem;
}

.landing-page-quicklinks i:before {
    color: #0645F9;
}

.liens-footer i.icon:before{
    color: white;
}

.landing-page-quicklinks .ql-list {
    position: relative;
    margin-top: 2rem;
}

.landing-page-quicklinks .block-title {
    display: none;
}

.liens-footer .ql-list .btn-primary,
.landing-page-quicklinks .ql-list .btn-primary {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid transparent;
    text-transform: none;
    padding: 0;
}

.liens-footer .ql-list .btn-primary:hover,
.landing-page-quicklinks .ql-list .btn-primary:hover {
    border: 0;
    box-shadow: none;
}

.landing-page-quicklinks ul li {
    margin-right: 10px;
}

.liens-footer .ql-item:nth-child(n+4),
.landing-page-quicklinks .ql-item:nth-child(n+4) {
    margin-right: 0;
}

.landing-page-quicklinks .ql-item:nth-child(n+4) {
    display: block;
    clear: both;
}

.landing-page-quicklinks .ql-item:nth-child(4n) {
    margin-top: 2rem;
}

.landing-page-quicklinks ul li a {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    text-decoration: none;
}

.landing-page-quicklinks ul li {
    display: inline;
}

.ql-social i {
    vertical-align: middle;
}

.liens-footer .ql-item i,
.landing-page-quicklinks .ql-item i {
    font-size: 2rem;
}

.liens-footer .ql-item a:hover i,
.landing-page-quicklinks .ql-item  a:hover i{
    border: none;
    opacity: 1;
}

.liens-footer .ql-item i ~ span,
.landing-page-quicklinks .ql-item i ~ span {
    display: none;
}

/* EDITO */

.front .edito {
    width: 100%;
    max-width: 100%;
    padding: 0;
    padding-bottom: 90px;
    float: none;
    margin-top: 50px;
    position: relative;
}

.landing-page-edito:after {
    content: "";
    display: table;
    clear: both;
    border-collapse: collapse;
}

/* BLOCKS */

.block-page{
    clear: both;
}

.block-page {
    max-width: 1024px;
    margin: 40px auto 0 auto;
}

.block-page .inside{
    padding: 0 1.5rem;
    width: auto;
    margin: 0;
}

.block-page h4 {
    margin-top: 4rem !important;
}

.block--secondary {
    background: #F5F7FC;
    margin-top: 0px;
    padding: 40px 0;
    padding-bottom: 300px;
}

/* ACCORDION HORIZONTAL */

.ah-item {
    margin-bottom: 3rem;
}

.ah-item-title::after {
    display: none;
}


.ah-item-title {
    display: none;
}

.ah-btn {
    border: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-transform: none;
}

.ah-btn span {
    font-size: 2.4rem;
}

.ah-btn--yellow {
    background: #F7C452;
}

.ah-item--yellow:before {
    border-left-color: #F7C452;
}

.ah-btn--yellow:focus, .ah-btn--yellow:hover  {
    box-shadow:  inset 0 0 0 2px #EEC566;
}

.ah-btn--pink {
    background: #DB57EA;
}

.ah-item--pink:before {
    border-left-color: #DB57EA;
}

.ah-btn--pink:focus, .ah-btn--pink:hover  {
    box-shadow:  inset 0 0 0 2px #CA63E3;
}

.ah-btn--lightblue {
    background: #55C2E4;
}

.ah-btn--lightblue:focus, .ah-btn--lightblue:hover  {
    box-shadow:  inset 0 0 0 2px #74C0E0;
}

.ah-item--lightblue:before {
    border-left-color: #55C2E4;
}

.ah-btn--blue {
    background: #0645F9;
}

.ah-btn--blue:focus, .ah-btn--blue:hover  {
    box-shadow:  inset 0 0 0 2px #0645F9;
}

.ah-item--blue:before {
    border-left-color: #0645F9;
}

/* FOOTER */

.site-footer {
    clear: both;
    background: #383838;
    margin-top: 0;
}

.site-footer:before {
    display: none;
}

.site-footer .inside {
    padding: 2rem 0;
    background: none;
}

.site-footer .inside > * {
    display: inherit;
}

.liens-footer {
    text-align: center;
}

.footer-copyright {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    line-height: 6rem;
    margin-top: 0;
    text-align: center;
}

.liens-footer .btn-primary {
    border: none;
    text-transform: none;
    padding: 0;
    opacity: .4;
}

.liens-footer .btn-primary:hover {
    color: white;
    opacity: 1;
}

.liens-footer .btn-primary .txt-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    padding-right: 2rem;
}

.liens-footer li {
    display: inline-block;
    line-height: 6rem;
    font-size: 1.5rem;
}

.liens-footer .ql-item:nth-child(n+4) {
    text-align: center;
}

.liens-footer .ql-item span {
    font-size: 1.5rem;
    padding: 0 2rem;
}

/* NEWSLETTER BLOCK */

.front .newsletter-form {
    background: #1A4BD8;
    font-family: "Poppins", sans-serif;
    height: 100%;
    width: 100%;
    content: "";
    display: table;
    clear: both;
    border-collapse: collapse;
    text-align: center;
    z-index: 0;
    position: relative;
}

.block-page.newsletter-form .box-dark {
    position: relative;
    z-index: 100;
    background: #1A4BD8;
    padding: 0;
}

.block-page.newsletter-form .box-dark .inside {
    height: auto;
    text-align: center;
    padding: 2rem 0;
}

.block-page.newsletter-form .nf-main-content {
    margin: 0;
    background: none;
    padding: 0;
}

.block-page.newsletter-form .nf-title {
    display: inline-block;
    font-size: 2rem !important;
    font-weight: 500 !important;
    vertical-align: middle;
    position: relative;
    color: white !important;
    text-align: center;
}

.block-page.newsletter-form form {
    vertical-align: middle;
    position: relative;
}

/*.block-page.newsletter-form label {
    display: none;
}*/


.block-page.newsletter-form .nf-subtitle,
.block-page.newsletter-form .nf-subtitle + p,
.block-page.newsletter-form .nf-subtitle + p + p{
    display: none;
}

.block-page.newsletter-form  .nf-form-item label {
    margin-bottom: .5rem;
}

.block-page.newsletter-form .nf-form-input {
    margin-top: 0;
    display: inline-block;
    vertical-align: top;
}

.block-page.newsletter-form .nf-form-input input {
    margin: 0;
    border: 1px solid white;
    padding: 0;
    line-height: calc(4.5rem - 2px);
    margin-right: 3rem;
    font-size: 1.4rem;
    padding-left: 1.7rem;
    background: transparent;
    color: white;
    border-radius: 0;
}

input[type="email"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white !important;
}
input[type="email"]::-moz-placeholder { /* Firefox 19+ */
    color: white;
}
input[type="email"]:-ms-input-placeholder { /* IE 10+ */
    color: white;
}
input[type="email"]:-moz-placeholder { /* Firefox 18- */
    color: white;
}

.block-page.newsletter-form .nf-form-submit {
    display: inline-block;
    border: none;
    background: #F7C452;
    border-radius: 0;
    margin-top: 0;
    vertical-align: top;
}

.block-page.newsletter-form .nf-form-submit button {
    border: none;
    color: white !important;
    line-height: 4.5rem;
    padding: 0 2rem;
    text-transform: none;
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #F7C452;
}

.block-page.newsletter-form .nf-form-submit button:hover {
    box-shadow: none;
}

.block-page.newsletter-form .nf-form-submit button i {
    display: none;
}


.newsletter-form .loading-inner .shape {
    width: 10px;
    height: 10px;
    background-color: #F7C452;
}

.newsletter-form .loading-inner {
    display: inline-block;
}

.nf-loading .loading-txt {
    margin: 0;
}

.nf-loading {
    padding: 20px;
}

.nf-main-content {
    text-align: right;
}

.nf-main-content p {
    margin-top: 0;
    display: inline-block;
    vertical-align: middle;
}

.nf-success-msg {
    color: #fff;
    padding: 0 20px;
}

.nf-main-content .nf-success-msg.has-error .icon {
    color: #F7C452;
    font-size: 2rem;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin: 20px 0;
    margin-top: 0;
    clear: both;
    top: 10px;
    position: relative;
}

.nf-main-content .nf-success-msg.has-error .icon:before {
    vertical-align: top;
    color: #F7C452;
}

.nf-result {
    /* top: 50%; */
    position: relative;
    /* transform: translateY(-50%); */
}

.nf-result .btn-primary {
    color: white;
    margin-left: 1rem;
    padding: 1rem
}

.nf-result .btn-primary:hover {
    color: #F7C452;
    box-shadow: none;
}

.nf-result .btn-primary {
    display: block;
    clear: both;
    border: 1px solid white;
    margin: 20px auto;
}

/* Liens footer */

.liens-orga-footer {
    clear: both;
    background: #0645F9 url('img/footer-pattern-bg.jpg') no-repeat 50%;
    background-size: cover;
    text-align: center;
}

.liens-orga-footer ul li{
    display: inline-block;
    padding: 20px 20px;
}

/* BLOCKS TITLES */

.block--facts .main-title:after,
.partner .main-title:after,
.news-home .main-title:after{
    content: '';
    clear: both;
    display: block;
    width: 35px;
    margin-right: 15px;
    height: 4px;
    margin-top: 30px;
}

/* FACTS */

.block--facts {
    margin-top: -280px;
    overflow: hidden;
}

.block--facts .main-title {
    margin-bottom: 40px;
    text-transform: none;
}

.block--facts .main-title:after {
    background: #55C2E4;
}

.facts {
    clear: both;
    list-style: none;
    padding: 0;
    background: #0645F9;
    position: relative;
}

.fact-item:after {
    content: "";
    display: block;
    height: 5px;
    background: white;
    bottom: 0;
    width: 100%;
    position: absolute;
}

.fact-item {
    position: relative;
    text-align: center;
    color: white;
    vertical-align: top;
    padding-bottom: 3rem;
}

.fact-number {
    font-size: 6rem;
    font-weight: 100;
}

.fact-desc {
    display: block;
    clear: both;
    font-size: 2rem;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
}


/* PARTNERS */

.front .partner [class^="box-"] {
    background: white;
}

.partner-gallery.slider .slider-pagin-nb {
    border: none;
}

.partner .main-title {
    text-align: left;
    text-transform: none;
}

.partner .main-title:after {
    background: #DB57EA;
}

.partner .pg-read-more {
    display: none;
}

/* SPONSORS */

.partner-gallery.slider .pg-item {
    margin-right: 40px;
}

.partner-gallery.slider .pg-item-link {
    width: inherit;
}

/* NEWS */

.news-home {
    padding-top: 50px;
    background: linear-gradient(180deg, #F5F7FC 90%, #FFF 50%);
}

.news-home .main-title:after {
    background-color: #F7C452;
}

.gla-item {
    margin: 0;
    flex: 0 1 100%;
    display: block;
    flex-wrap: unset;
    -webkit-box-orient: unset;
    -webkit-flex-direction: unset;
    -ms-flex-direction: unset;
    flex-direction: unset;
    box-shadow: none;
}

.gla-item a:hover {
    color: inherit;
}

.gla-item-title {
    font-size: 2rem !important;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.gla-item-content {
    width: 100%;
    position: relative;
    padding-bottom: 1.5rem;
    left: 0;
    background: none;
}

.gla-item > a {
    height: 100%;
    border: 1px solid #DDDDDD;
    background: white;
}

.gla-item:first-child {
    margin-top: 0;
}

.gla-item:nth-child(2) {
    top: 40px;
    position: relative;
}

.list-articles .gla-item:nth-child(2) {
    top: inherit;
}

.grid-la-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
}

.gla-item-desc {
    line-height: 2.5rem;
    color: #383838;
}

.grid-la-list > * {
    width: inherit;
}

.gla-item-tag {
    background: #08205C;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.gla-item > a {
    display: inherit;
    -webkit-box-flex: inherit;
    flex: inherit;
    overflow: inherit;
}
.gla-item-btn {
    text-align: center;
    margin-top: 3rem !important;
}

.gla-item-content p:not(.gla-item-btn) {
    margin-top: 1.25rem;
}

.gla-btn-read-more {
    color: #0754FA;
    line-height: 1;
    background: none;
    border: none;
}

.gla-btn-read-more:hover {
    color: #0754FA;
}

.gla-btn-read-more:before {
    content: "+";
    float: left;
    line-height: 2.6rem;
    margin-right: .5rem;
    margin-top: -2px;
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 100;

}

.article-focus {
    background: none;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    color: #383838;
}

.article-focus .af-title {
    display: none;
}

.article-focus p {
    line-height: 3rem;
    text-align: left;
}

.landing-page-focus {
    border: 0;
    clear: both;
    margin: 6.5rem 0;
    padding: 60px 2rem 0 2rem;
    background: url('img/quote.svg') no-repeat;
    background-position: 2rem 0;
    background-size: 60px;
}


/** BLOCK TWITTER **/

.tpt-item.twitter {
    margin: 6.5rem 0;
}


/** VIEW FULL ARTICLE **/

.article-content {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
}

.article-title {
    min-height: auto;
    background: #0745fa url('img/hero-bg.jpg') no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    margin-top: 0;
    margin-bottom: 6rem;
    padding-bottom: 12rem;
}

.article-title .inside {
    position: relative;
    top: 80px;
}

.article-title .at-content {
    width: 100%;
    position: inherit;
    bottom: inherit;
}

.at-theme {
    display: none;
    flex: inherit;
    -webkit-box-flex: inherit;
    -webkit-flex: inherit;
    -ms-flex:  inherit;
    order: inherit;
    -webkit-order: inherit;
    -webkit-box-ordinal-group: inherit;
}


.at-main-title {
    -webkit-box-flex: inherit;
    -webkit-flex: inherit;
    -ms-flex: inherit;
    flex: inherit;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    text-shadow: none;
    text-transform: none;
    text-align: center;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    left: 10px;
    margin: 0;
    color: white;
    line-height: 3rem;
}

.at-main-title:before {
    content: '';
    display: block;
    background-color: rgba(204, 0, 102, 0);
    border: 7px solid #F7C452;
    height: 80px;
    width: 80px;
    -moz-border-radius: 80px;
    -webkit-border-radius: 80px;
    position: absolute;
    z-index: -1;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -40px;
}

.article-title img,
.at-publication,
.at-tag {
    display: none;
}


.article-intro {
    display: none;
    margin: 0;
    width: 100%;
    position: relative;
    color: white;
}

.article-content h2 {
    font-size: 7rem;
}

.article-content h3 {
    font-size: 2.2rem !important;
    font-weight: bold;
}

.article-content h4 {
}

.article-content h4:before {
    display: none;
}

.article-content h5 {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.article-image {
    margin-bottom: 4rem;
}

.article-content ul li::before {
    background: #1E4BF0;
    border-radius: 20px;
    height: 5px;
    width: 5px;
}

.article-content h3 {
    margin-top: 4rem !important;
}

.article-content h3 + p {
    margin-bottom: 4rem;
}

.article-content blockquote {
    padding: 70px 0 0 0;
    margin: 4rem auto 0 auto;
    background: url('img/quote.svg') no-repeat;
    background-position: top left;
    background-size: 70px;
    color: #383838;
    margin-bottom: 3rem;
}

.article-content blockquote p {
    font-size: 1.9rem !important;
    font-weight: 200;
    line-height: 3.2rem;
    text-align: left;
}

.article-content blockquote + a + h4 {
    margin-top: 2rem !important;
}

.article-content blockquote .icon-quote {
    display: none;
}

.article-content h4 {
    margin-bottom: 2rem !important;
}

.article-content p {
    line-height: 2.5rem;
}

/* PROFILES */

.cl-content {
    margin: 0;
}

.cl-item-illust img {
    width: 100%;
}

.cl-item-content {
    padding: 0;
}

.h3-like {
    font-size: 2rem;
    text-transform: none;
    color: #001E60;
}

.cl-item-subtitle,
.cl-item-phone {
    font-size: 1.6rem;
    font-weight: 200;
    color: #383838;
}

.cl-item-web a, .cl-item-email a {
    width: 100%;
    color: #001E60;
}

.cl-item-email a:focus, .cl-item-email a:hover {
    border-bottom: none;
}

/* BREADCRUMB */

.article .breadcrumb-nav {
    display: none;
}

.bn-list li a {
    background: none;
    text-transform: none;
    padding: 0;
    font-size: 1.4rem;
}

.bn-item-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #777777;
}

.article .bn-item-link {
    color: white;
}

.bn-list li a:not(:last-child):after {
    content: "  •  ";
    padding: 0 5px;
}

.bn-item:first-child .bn-item-link {
    color: inherit;
}

.bn-item-link:focus,
.bn-item-link:hover,
.bn-item:first-child .bn-item-link:focus,
.bn-item:first-child .bn-item-link:hover {
    text-decoration: none;
    border-bottom: none;
    color: #0645F9;
}

.article .bn-item-link:focus,
.article .bn-item-link:hover,
.article .bn-item:first-child .bn-item-link:focus,
.article .bn-item:first-child .bn-item-link:hover {
    text-decoration: none;
    border-bottom: none;
    color: #f6c54f;
}

/* ARTICLE LIST */

.article_list .layout-2-col {
    padding-top: 90px;
}


.bn-item .icon.icon-short-arrow-left {
    color: #0645F9;
}

/* Partner Gallery */

.mobile-partner-gallery .slider-pagin-btn .btn {
    background-color: transparent;
}

.pg-pagin-nb .active {
    color: #0645F9;
}

.mobile-partner-gallery .slider-pagin-btn .btn .icon {
    color: #0645F9;
}

/* FAQ */

.block-page.faq {
    margin-top: 20px;
}

.faq-content {
    padding: 0 2rem;
}

.fc-item-nb, .fs-item-nb {
    background: #0645F9;
    line-height: 2rem;
}

.fs-item-link .icon {
    color: #0645F9;
}

.fc-title {
    font-size: 1.8rem !important;
}

.fc-box .inside {
    padding: 0;
}

h3.fc-item-title {
    font-size: 1.5rem !important;
}

.fc-item {
    padding: 2rem 0;
    border-bottom: 1px solid #0645F9;
}

.fc-item-link:focus, .fc-item-link:hover {
    text-decoration: none;
    border-bottom: 0;
}

.fc-item.fc-item:nth-child(odd),
.fc-item.fc-item:nth-child(even) {
    background: none;
}

.fc-item-link:focus .icon, .fc-item-link:hover .icon {
    color: #0645F9;
}

.fc-item-content {
    padding: 0;
}

.fc-item-link {
    font-family: "Roboto", sans-serif;
    padding-left: 20px;
}

.fc-item-link .icon {
    margin-left: -20px;
    margin-top: -2px;
    position: absolute;
}

.faq-sub-title {
    font-size: 1.7rem;
    font-weight: normal;
}