.article-wrapper .article-navigation {
    margin-bottom: 80px;
}
.article-wrapper .article-navigation .an-item-next .an-item-content {
    padding: 0px 0px 0px 0px;
    text-align: right;
    width: 100%;
    display: inline-block;
    left: 0;
    margin-left: -20px;
}
.article-wrapper .article-navigation .an-item-content {
    font-size: 13px;
    color: #152848;
    text-transform: uppercase;
    letter-spacing: .15em;
    line-height: 1.3;
    background:rgba( 6, 69, 249, .8);
    color:#ffffff;
}

.article-wrapper .article-navigation .an-item-next .an-item-title {
    padding: 2.2em 4em 2.2em 1.6em;
}

.article-wrapper .article-navigation .an-item-previous .an-item-title {
    padding: 2.2em 1.6em 2.2em 4em;
}

.article-wrapper .article-navigation .an-item-previous, .article-wrapper .article-navigation .an-item-next {
    width: 100%;
}
.article-wrapper .article-navigation .an-list {
    display: block;
    width: 100%;
}
.article-wrapper .article-navigation .an-item-next {
    float: right;
    text-align: right;
}

.article-wrapper .article-navigation .an-item-link {
    background: none;
}
.article-navigation .an-item-content {
    position: initial;
}
.icon-short-arrow-right {
    width: 35px;
    height: 27px;
    /** background-image: url(img/icon-short-arrow-right.png); **/
}
.article-wrapper .article-navigation img {
    opacity: .5;
    -webkit-transition: opacity .4s ease;
    -o-transition: opacity .4s ease;
    transition: opacity .4s ease;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    display: inline-block;
    vertical-align: middle;
    height: 75px;
    margin-left: -4px;
    overflow: hidden;
    position: relative;
    transition:ease-in-out 0.5s;
    -webkit-transition:ease-in-out 0.5s;
    -moz-transition:ease-in-out 0.5s;
    -ms-transition:ease-in-out 0.5s;
    -o-transition:ease-in-out 0.5s;
}
.article-wrapper .article-navigation .an-list:after {
    content: '';
    display: table;
    clear: both;
}
.article-wrapper .article-navigation .inside {
    max-width: 1120px;
    margin: 0 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    -o-flex-direction: column-reverse;
    flex-direction: column-reverse;
}
.article-wrapper .article-navigation a:hover{
    color: #0645F9;
    border-bottom: 0;
    margin: 0px;
    padding: 0px;
}
.article-navigation .an-item-next .an-item-content .icon {
    transition:ease-in-out 0.5s;
    -webkit-transition:ease-in-out 0.5s;
    -moz-transition:ease-in-out 0.5s;
    -ms-transition:ease-in-out 0.5s;
    -o-transition:ease-in-out 0.5s;
    z-index: 1;
}

.article-wrapper .article-navigation a:hover .an-item-content .icon{
  padding-left:0.2em; 
  transition:ease-in-out 0.5s;
  -webkit-transition:ease-in-out 0.5s;
  -moz-transition:ease-in-out 0.5s;
  -ms-transition:ease-in-out 0.5s;
  -o-transition:ease-in-out 0.5s;
}

.article-wrapper .article-navigation a:hover img{
      -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
      transition:ease-in-out 0.5s;
  -webkit-transition:ease-in-out 0.5s;
    -moz-transition:ease-in-out 0.5s;
    -ms-transition:ease-in-out 0.5s;
    -o-transition:ease-in-out 0.5s;
}
.an-item-title {
    display: inline-block;
    vertical-align: middle;
    height: 75px;
    padding: 2.2em 2.5em;
    width: 100%;
}
.article-navigation {
    background: #ffffff;
}
.article-wrapper .article-navigation .an-item-previous {
    float: left;
    text-align: left;
}
.article-wrapper .article-navigation .an-item-previous .an-item-content {
    padding: 0px 0px 0px 0px;
    text-align: right;
    width: 100%;
    display: inline-block;
    left: 0px;
    margin-left: -6px;
}
.article-wrapper .article-navigation .an-item-previous a{text-align:left; margin: 0px; padding: 0; */}
.article-wrapper .article-navigation  .an-item-previous img{
  margin-right: 0;
  margin-left: 0px;
}
.article-wrapper .article-navigation  .an-item-previous .an-item-title{
  text-align:left;
}
.article-navigation .an-item-previous .an-item-content .icon {
    transition:ease-in-out 0.5s;
    -webkit-transition:ease-in-out 0.5s;
    -moz-transition:ease-in-out 0.5s;
    -ms-transition:ease-in-out 0.5s;
    -o-transition:ease-in-out 0.5s;
}

.article-wrapper .article-navigation a:hover .an-item-content .icon{
  padding-right:0.2em; 
  transition:ease-in-out 0.5s;
  -webkit-transition:ease-in-out 0.5s;
  -moz-transition:ease-in-out 0.5s;
  -ms-transition:ease-in-out 0.5s;
  -o-transition:ease-in-out 0.5s;
}
.an-item-previous a:hover .an-item-content {
    margin-right: 0em;
}
.article-wrapper .article-navigation .an-item-publication{
display:none;
}

/**** SITEMAP ****/

.content-list-bullet li::before {
    background: #0645F9;
}
		.sitemap a.sm-item-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #001E60;
    text-transform: none;
    font-size: 1.5em;
    margin-top: 0 !important;
}

.sitemap .layout-2-col, .partner .layout-2-col {
    padding-top: 127px;
}

.sitemap .zone-hero{

display:none;

}

.sitemap h1 span.ezstring-field, .partner-list h1 {
    font-family: 'Poppins', sans-serif;
    color: #001E60;
    text-transform: none;
    font-weight: bold;
    font-size: 4.2rem !important;
    padding-top: 1em;
}

/*******************************/
/**** Liste des partenaires ****/
/*******************************/
.partner img.pl-item-illust {
    background: transparent;
}

.partner-list h3.pl-item-title {
    padding-top: 26px;
	padding-bottom: 10px;
}
.partner p.pl-item-read-more {
    text-align: right;
    padding-right: 5px;
}
/*******************************/
/******* BANDEAU COOKIE ********/
/*******************************/

.cc-cookies .cc-cookie-accept {
    padding: 0 22px;
    background-color: transparent;
    border: 1px solid #fff;
    font-weight: 400;
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.35em;
    line-height: 27px;
    position: initial;
    top: 2em;
    right: .5em;
    margin-top: 3px;
    width: auto;
    height: auto;
    overflow: hidden;
    text-indent: initial;
    text-align:center;
}
.cc-cookies .cc-cookie-accept:hover {
background-color:#ffffff;
color:#000000;
}

.cc-cookies .inside {
    max-width: 830px;
    color: #fff;
    position: relative;
    text-align:left;
}

.cc-cookies {
    padding: 1em 5%;
    background-color: #f6c54f;
    top: auto;
    z-index: 999;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    line-height: 1.35;
    letter-spacing: .05em;
}
a.cc-cookie-link {
    text-decoration: underline;
	color:#ffffff;
}


/*******************************/
/************* FACT ************/
/*******************************/
.faq .faq-sub-title, .faq .js-sna-menu, .faq .fc-title {
    display: none;
}

.fc-item.js-sna-item {
    border: 1px #b7b7b7 solid;
    margin: 1rem 0;
    border-radius: 5px;
}

.fc-item.js-sna-item i.icon.icon-plus:before {
    content: ' ';
}
.fc-item.js-sna-item i.icon.icon-minus:before {
    content: ' ';
}

.fc-item.js-sna-item .fc-item-link.js-sna-item-link:before {
    content: ' ';
    background: url(/theme/cscuk2_git_mobile/img/arrow-right-menu.png);
    content: ' ';
    position: absolute;
    right: 31px;
    margin-top: -2px;
    width: 30px;
    height: 30px;
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: 50% 25%;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transform: translateY(0px) translateX(0px) rotate(90deg);
    -webkit-transform: translateY(0px) translateX(0px) rotate(90deg);
    -moz-transform: translateY(0px) translateX(0px) rotate(90deg);
}

.fc-item.js-sna-item .fc-item-link.js-sna-item-link {
    padding: 0rem 3.5rem 0rem 1rem;
    color: #000000;
    font-weight: 600;
}

.fc-item-content.js-sna-item-content.is-open{
	padding: 0rem 3.5rem 0rem 1rem;
    color: #8e9092;
    font-size: 1.4rem;
}

.fc-item.js-sna-item .fc-item-link.js-sna-item-link.is-active:before {
    transform: translateY(0px) translateX(0px) rotate(-90deg);
    -webkit-transform: translateY(0px) translateX(0px) rotate(-90deg);
    -moz-transform: translateY(0px) translateX(0px) rotate(-90deg);
}
.faq h1.faq-main-title {
    margin-bottom: 30px;
}
/*** ul.facts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.fact-item{
flex: 0 1 50%;
padding: 0.5em 1.5em 3em 1.5em;
} **/

/***********************/
/***** NAVIGATION *****/
/***********************/

nav.main-navigation, nav.main-navigation .mn-menu-item {
    background: rgba( 6, 69, 249);
}

span.mn-link-text {
    color: #fff;
}


.main-navigation {
    left: inherit;
    right: 0;
    width: 100vw;
    height: calc(100vh);
    background: white;
    top: 0;
    overflow-y: auto;
}

nav.main-navigation.nav-general.js-toggle-target:before {
    background: url(/theme/cscuk2_git_desktop/img/logo-CSC_UK-small.svg);
    content: ' ';
    position: absolute;
    width: 100%;
    height: 235px;
    background-size: 180px;
    background-repeat: no-repeat;
    background-position: 48% 9%;
}

.mn-menu-line {
    padding-top: 100px;
	    max-height: 600px;
}

.mn-menu-submenu .mn-link.is-active span.mn-link-text:after {
    content: ' ';
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius:50%;
    background-color: #FFD700;
    left:-15px;
    top:7px;
    display:inline-block;
}
.mn-menu-submenu .mn-link.is-active span.mn-link-text {
    color: #FFD700;
}
.mn-menu-submenu .mn-link.is-active {
    background: transparent!important;
    color: #0645F9;
}

.mn-item-lvl-1.is-open > a, .mn-item-lvl-1 > .mn-link:focus, .mn-item-lvl-1 > .mn-link:hover, .mn-item-lvl-1 > .mn-link:active, .mn-item-lvl-1 > .mn-link.is-active{

color:#ffffff;
}
}
.mn-menu-submenu .mn-link.is-active span {
    color: #0645F9;
}

.mn-item-lvl-1.is-open .mn-menu-lvl2 {
    transform: none;
    display: block;
    max-height: 200px;
    background: transparent;
}

[class*="mn-menu-lvl"] {
    text-align: left;
}

nav.main-navigation.nav-general.js-toggle-target:after {
    content: ' ';
    position: absolute;
    min-width: 50px;
    height: 50px;
    border: 5px solid gold;
    border-radius: 50%;
    margin-left: -31px;
    margin-top: 50px;
    background-size: 180px;
    background-repeat: no-repeat;
    background-position: 48% 9%;
}

button.sb-menu-trigger.js-toggle-trigger.unstyled i{
	display:none;
}
button.sb-menu-trigger.js-toggle-trigger.unstyled.is-open{
height:50px;
width:35px;
    margin-top: 0;
	 z-index: 999;
}
button.sb-menu-trigger.js-toggle-trigger.unstyled{
height:10px;
width:35px;
margin-top: 61px;
margin-right: 10px;
}
button.sb-menu-trigger.js-toggle-trigger.unstyled .line {
  display: block;
  background: #ecf0f1;
  width: 25px;
  height: 3px;
  position: absolute;
  left: 0;
  border-radius: 4px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
button.sb-menu-trigger.js-toggle-trigger.unstyled .line.line-1 {
  top: 0;
}
button.sb-menu-trigger.js-toggle-trigger.unstyled .line.line-2 {
  top: 50%;
}
button.sb-menu-trigger.js-toggle-trigger.unstyled .line.line-3 {
  top: 100%;
}
button.sb-menu-trigger.js-toggle-trigger.unstyled:hover .line-1, button.sb-menu-trigger.js-toggle-trigger.unstyled:focus .line-1 {
  transform: translateY(-4px);
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
}
button.sb-menu-trigger.js-toggle-trigger.unstyled:hover .line-3, button.sb-menu-trigger.js-toggle-trigger.unstyled:focus .line-3 {
  transform: translateY(4px);
  -webkit-transform: translateY(4px);
  -moz-transform: translateY(4px);
}
button.sb-menu-trigger.js-toggle-trigger.unstyled.is-open .line-1 {
  transform: translateY(25px) translateX(0) rotate(45deg);
  -webkit-transform: translateY(25px) translateX(0) rotate(45deg);
  -moz-transform: translateY(25px) translateX(0) rotate(45deg);
}
button.sb-menu-trigger.js-toggle-trigger.unstyled.is-open .line-2 {
  opacity: 0;
}
button.sb-menu-trigger.js-toggle-trigger.unstyled.is-open .line-3 {
  transform: translateY(-25px) translateX(0) rotate(-45deg);
  -webkit-transform: translateY(-25px) translateX(0) rotate(-45deg);
  -moz-transform: translateY(-25px) translateX(0) rotate(-45deg);
}



li.mn-menu-item.mn-item-lvl-1.mn-item-has-submenu:before {
    background: url(/theme/cscuk2_git_mobile/img/arrow-right-menu-white.png);
    content: ' ';
    position: absolute;
    right: 20px;
    margin-top: 13px;
    width: 30px;
    height: 30px;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 50% 25%;
      transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
li.mn-menu-item.mn-item-lvl-1.mn-item-has-submenu.is-open:before {
transform: translateY(0px) translateX(0px) rotate(90deg);
-webkit-transform: translateY(0px) translateX(0px) rotate(90deg);
-moz-transform: translateY(0px) translateX(0px) rotate(90deg);
}

.is-stuck.site-banner .main-navigation{
	top: 0 !important;
}
.event-date-mobile {
    display: block;
    background: #001E60;
}

.event-date-mobile p {
    padding: 8px 0px 7px 15px;
    font-size: 12px;
}

.event-date-mobile p strong {
    font-weight: 800;
}

.site-banner {
    background: rgba( 6, 69, 249) !important;
}

.site-banner .logo {
    text-align: left !important;
    padding-left: 10px;
}
.site-banner .logo img {
    height: 60px;
}
header.site-banner, .site-banner.is-stuck {
    height: 100px;
	-webkit-box-shadow: 0px 7px 14px -2px rgba(0,0,0,0.21);
-moz-box-shadow: 0px 7px 14px -2px rgba(0,0,0,0.21);
box-shadow: 0px 7px 14px -2px rgba(0,0,0,0.21);
	-webkit-transition: -webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1);
  -moz-transition: -moz-transform 1s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);
}
header.site-banner.hidden{
	-webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
.site-banner .block.block-small.quicklinks.header-quicklinks {
    margin-top: 15px;
    margin-right: 67px;
}


/**************************/
/***** Liste Articles ****/
/************************/



.gla-item-content .gla-item-btn {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
	margin-top: 1rem !important;
}
.list-articles .inside .grid-la-list .gla-item {
    margin: 2rem 1%;
    border: none;
    position: relative;
    -webkit-box-shadow: 0 2rem 3.5rem -2.5rem rgba(0,0,0,.2);
    box-shadow: 0 2rem 3.5rem -2.5rem rgba(0,0,0,.2);
    padding: 0;
    width: 100%;
}


.gla-item-content {
    padding: 1.5rem 2.5rem;
}


/************************/
/****Quicklinks Home****/
/************************/

.landing-page-quicklinks ul li {
    float: left;
    display: table !important;
    width: 50%;
    height: 51px;
    min-height: 51px;
    text-align: left;
    clear: inherit !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    padding: 0px 15px;
    border: 1px solid #ebebeb;
    background: #ffffff;
    line-height: 3.2em;
}
.landing-page-quicklinks ul li a{
	font-size: 13px !important;
	
}

.landing-page-quicklinks .ql-list {
    margin-top: 0;
}

.landing-page-quicklinks {
    padding-bottom: 9rem;
}